<br>
<div class="body">
  <div class="formulariociudad" [formGroup]="formGroup">
  
      <h1>Editar Ciudad</h1><br><br>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre de la Ciudad</mat-label>
        <input type="text" matInput formControlName="Ciudad">
    </mat-form-field> <br>
    
    
    

    <br>
  <button mat-raised-button color="primary" class="boton" (click)="editarCiudad()">Agregar </button><br><br>
  <button mat-raised-button routerLink="/ciudades"class="boton" color="accent">Volver</button>
  </div>
  
      
  </div>