s
<br>
<div class="body">
  <div class="loginForm">
  
      <h1>LOGIN</h1><br><br>


  
  <form class="loginForm">
  

      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput>
      </mat-form-field>
        <br>
        
      <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput>
      </mat-form-field>
          

    
     
    </form>
    <br>
  <button mat-raised-button routerLink="/menuadmin" color="primary" class="boton">Ingresar</button><br><br>

  </div>
  
      
  </div>